/* This is from Google Fonts, no need to worry about this */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono');

* {
	margin: 0;
	padding: 0;
}

/* Section Styles */
.section{
	width: 100%;
	height: auto;
}
.section__one {
	background: #FCFCFC;
}
.section__two{
	background: #76b5ca;
}
.section__three {
	background: #FCFCFC;
}
.section__four{
	background: #76b5ca;
}

/* Section Heading Styles */
.heading{
	padding-top: 15px;
	font-family: 'Roboto Mono', Courier;
	font-size: 2.15rem;
}
.title{
	color: #333333;
	font-size: 1.5rem;
	margin-left: 50px;
	line-height: 2;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Inner Section Styles */
.innercontent {
	width: 70%;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	font-family: 'Roboto';
	font-size: 1.15rem;
	font-weight: 300;
	line-height: 1.5;
}
p{
  margin: 10px 0 10px 0;
}
img{
  max-width: 100%;
  margin: 10px 0 10px 0;
}
h2{
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
  line-height: 1.5;
  color: #76b5ca;
	margin: 0 0 30px 30px;
}
